In [1]:
import pandas as pd
df=pd.read_csv('笔记本集合.csv')
df

   price  frequency  RAM  size  disk  SSD  GPU
0  18200        2.6   16  15.4   512  yes  yes
1   4999        1.8    4  13.6   512  yes  yes
2   3699        1.6    4  13.0  1024   no   no
3   9999        1.6    8  14.0   256  yes   no
4   8599        2.2    8  15.6  1024   no  yes
5  23000        2.2   32  15.6  1024  yes  yes
6   4699        2.3    8  13.3   256  yes   no
7   2999        2.6    4  13.0   256  yes   no

In [2]:
df[(df['price']<=8000)&(df['size']>=14)&(df['RAM']>=8)&(df['GPU']=='yes')]

Empty DataFrame
Columns: [price, frequency, RAM, size, disk, SSD, GPU]
Index: []

In [3]:
df[(df['price']<=8000)&(df['size']>13)]

   price  frequency  RAM  size  disk  SSD  GPU
1   4999        1.8    4  13.6   512  yes  yes
6   4699        2.3    8  13.3   256  yes   no

In [4]:
df[(df['price']<=8000)&(df['size']>=14)]

Empty DataFrame
Columns: [price, frequency, RAM, size, disk, SSD, GPU]
Index: []

In [5]:
# 利用bool的series特性判断bool_set1是不是bool_set2的子集
def is_subset(bool_set1, bool_set2):
    return ((bool_set1&bool_set2)==bool_set1).sum()==bool_set1.shape[0]

def MinRelax(df, REQ):
    MinRS=[]
    PQRS=pd.DataFrame(REQ)
    for i in range(df.shape[0]):
        p=df.iloc[i]
        ISX=PQRS[i]

        # 判断当前MinRelax中是否存在元素是当前ISX的子集-》反了
    #     SUB=[r for r in MinRS if is_subset(r,ISX)]
        SUB=[r for r in MinRS if is_subset(ISX,r)]
        if len(SUB)!=0:continue

    #     SUPER=[r for r in MinRS if is_subset(ISX,r)]
        SUPER=[r for r in MinRS if is_subset(r,ISX)]
        if len(SUPER)>0:
            MinRS=[r for r in MinRS if [(r==r2).all() for r2 in SUPER][0] ]
    #         MinRS=[r for r in MinRS if r not in SUPER]
        MinRS.append(ISX)
    return MinRS

In [6]:
REQ=[(df['price']<=8000),(df['size']>=14),(df['RAM']>=8),(df['GPU']=='yes')]
MinRelax(df, REQ)

[price    False
 size      True
 RAM       True
 GPU       True
 Name: 0, dtype: bool, price     True
 size     False
 RAM      False
 GPU       True
 Name: 1, dtype: bool, price     True
 size     False
 RAM       True
 GPU      False
 Name: 6, dtype: bool]