In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('笔记本集合.csv')
df

   price  frequency  RAM  size  disk  SSD  GPU
0  18200        2.6   16  15.4   512  yes  yes
1   4999        1.8    4  13.6   512  yes  yes
2   3699        1.6    4  13.0  1024   no   no
3   9999        1.6    8  14.0   256  yes   no
4   8599        2.2    8  15.6  1024   no  yes
5  23000        2.2   32  15.6  1024  yes  yes
6   4699        2.3    8  13.3   256  yes   no
7   2999        2.6    4  13.0   256  yes   no

In [2]:
# 基于实例的推荐

# 输入p_r表示项目值，r表示对应需求特征值的集合，r_val表示目标值
def get_MIB(p_r,r):
    return (p_r-min(r))/(max(r)-min(r))
def get_LIB(p_r,r):
    return (max(r)-p_r)/(max(r)-min(r))
def get_CIB(p_r,r,r_val):
    return 1-np.abs(p_r-r_val)/(max(r)-min(r))

# 输入 REQ={price=8000, size=14, RAM=8, GPU=yes}
# 相似度类别：{price:LIB, size:CIB, RAM:MIB, GPU:0-1匹配}
# 权重：{price:1.0, size:0.5, RAM:0.8, GPU:1.0}

# 根据输入制定规则，计算匹配度
def get_match(p):
    score=0
    score+=get_LIB(p['price'],df['price'])*1.0
    score+=get_CIB(p['size'],df['size'],14)*0.5
    score+=get_MIB(p['RAM'],df['RAM'])*0.8
    score+= (1 if p['GPU']=='yes' else 0)*1.0
    return score/(1.0+0.5+0.8+1.0)

df['match']=df.apply(lambda x:get_match(x),axis=1)

In [3]:
df

   price  frequency  RAM  size  disk  SSD  GPU     match
0  18200        2.6   16  15.4   512  yes  yes  0.549580
1   4999        1.8    4  13.6   512  yes  yes  0.703964
2   3699        1.6    4  13.0  1024   no   no  0.385665
3   9999        1.6    8  14.0   256  yes   no  0.383122
4   8599        2.2    8  15.6  1024   no  yes  0.614123
5  23000        2.2   32  15.6  1024  yes  yes  0.603730
6   4699        2.3    8  13.3   256  yes   no  0.422629
7   2999        2.6    4  13.0   256  yes   no  0.396270